/*section 1*/

h1 {
    color: #000;
    font-family: Lato;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

#starynight {
    display: flex;
    width: 568px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

#starynight img {
    height: 446px;
    align-self: stretch;
    background: url(../Image/image\ 7.png) lightgray 50% / cover no-repeat;
}

#starynight h2 {
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

#starynight p {
    flex: 1 0 0;                                 
    color: #414651;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
}

#starynight ol li {
    align-self: stretch;
    color: #155EEF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

#starynight footer {
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #CEA201;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    border: 2px solid #CEA201;
}

/*section 2*/
#Magic aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}
#Magic h2 {
    color: #000;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

#Magic p {
    flex: 1 0 0;
    color: #414651;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}



#here {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
}

#here h3 {
    flex: 1 0 0;
    color: #00C76E;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#here ol li {
    color: #FF5DA3;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#here img {
    width: 200px;
    height: 200px;
    background: url(../Image/image\ 8.png) lightgray 50% / cover no-repeat;
}

#where {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border: 6px solid #C11574;
    background: #FFDEF0;
}

#where p {
    flex: 1 0 0;
    color: #414651;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
}

#where ul li {
    color: #C27512;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}



















