body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: #000;
    font-size: 72px;
    text-align: center;
}

#first-section {
    max-width: 568px;
    margin-left: 55px;
}

#stary-night-img {
    width: 100%;
}

#h-first {
    color: #000;
    text-align: center;
    font-size: 40px;  
}

#p-first {
    color: #414651;
    text-align: center;
    font-size: 20px;
}

#first-list {
    color: #155EEF;
    font-size: 16px;

}

#first-a {
    margin-top: 32px;
    margin-left: 12px;

}

#read-more {
    color: #CEA201;
    font-size: 24px;
    padding: 12px 32px;
    border: 2px solid #CEA201;
    text-decoration: none;
}

#h-second {
    color: #000;
    font-size: 40px;
    margin-left: 55px;
}

#p-second {
    color: #414651;
    text-align: center;
    font-size: 20px;
    max-width: 722px;
    margin-left: 55px;
}

#third-section {
    color: #00C76E;
    text-align: center;
    font-size: 20px;
    max-width: 722px;
}

#second-list {
    color: #FF5DA3;
    font-size: 16px;
    max-width: 461px;
    margin: 0 auto;
}

#main {
    max-width: 722px;
}

#img-batterfly {
    width: 200;
    margin-left: 55px;
    margin-bottom: 24px;
}

#h-third {
    color: #414651;
    font-size: 24px;


}

#third-list ul {
    list-style: none;
    color: #C27512;
    margin-bottom: 20px;
    vertical-align: middle;
    padding-bottom: 16px;
}

#rectangle {
    border-radius: 90px;
    margin-right: 10px;
    vertical-align: middle;
    padding: 8px;
}

#fourth-section {
    border: 6px solid #C11574;
    background: #FFDEF0;
    margin-left: 55px;
}

#img-last {
        width: 298.012px;
        margin-left: 55px;
        margin-top: 24px;
}

#zgviscxeni {
    width: 100%;
}

#footer {
    margin-top: 24px;
    max-width: 722px;
    margin-right: auto;
    text-align: right;
}

#see-more {
    color: #00D4BC;
    font-size: 24px;
}